<template>
  <div>
    <div v-if="mode==1">Loading...</div>
    <div v-if="mode==2">Question</div>
    <div v-if="mode==3">Answer</div>
    <div v-if="mode==4">Summary</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mode: 1, // mode= 1 loading, 2 = question,3 = answer, 4 summary,
      questionNo: 1
    };
  },
  methods: {
    loadInit() {
      //load คาบเรียนและ index ตามลำดับเก็บใน array
      //หาคาบที่เรียนปัจจุบัน
    },
    loadQuestion() {
      //clear array เก่าทั้งหมด
      //load คำถามทั้งหมดที่จากต้นจนถึงคาบเรียนปัจจุบัน เก็บเข้าไว้ใน array
      //ทำการ shuffle question array
      //change mode = 2
      //showQuestion()
    },
    showQuestion() {
      //เก็บค่าโจทย์มาจาก array
      //ทำการ shuffle answer
      //ทำการ remove question จาก array ที่ใช้ไปแล้ว
    },
    answer(key) {
      //check answer ว่าถูกหรือเปล่าว
      //ถ้าถูกให้บวกคะแนน 10
      //แสดงคำตอบ และเฉลย mode =3
      //ทำการบวก questionNo
    },
    nextQuestion() {
      //ถ้ามากกว่า 5 ให้เปลี่ยน mode = 4
      //ถ้าไม่มากกว่า 5 ให้เป็น mode = 2
    }
  }
};
</script>

<style scoped>
</style>